
<div class="control-group">
    <form class="form-horizontal" ng-submit="feedbackSubmit(feedback)" >



        <div class="control-group">
            <label class="control-label" for="email">Your Email</label>
            <div class="controls">
                <input type="text" id="email" ng-model="feedback.email"  placeholder="me@example.com" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="body">Comment</label>
            <div class="controls">
                <textarea ng-model="feedback.body" id="body" rows="7" cols="10" required></textarea>
            </div>
        </div>


        <div class="control-group">
            <div class="controls">

                <button class="btn btn-primary" type="submit"  >Feedback</button>
            </div>
        </div>

    </form>
</div>

<div class="alert alert-info" style="width:400px;" ng-show="feedbacksuccess">
    Feedback  submitted successfully
</div>

