
<div class="control-group">
    <form class="form-horizontal">



        <div class="control-group">
            <label class="control-label" for="email">Your Email</label>
            <div class="controls">
                <input type="text" id="email" ng-model="feedback.email" required="required" placeholder="me@example.com" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="body">Comment</label>
            <div class="controls">
                <textarea ng-model="feedback.body" id="body" rows="7" cols="10" required="required"></textarea>
            </div>
        </div>


        <div class="control-group">
            <div class="controls">

                <button class="btn btn-primary" ng-disabled="!feedback.email || !feedback.body" ng-click="feedbackSubmit(feedback)">Feedback</button>
            </div>
        </div>

    </form>
</div>

<div class="alert alert-info" style="width:400px;" ng-show="feedbacksuccess">
    Feedback  submitted successfully
</div>

