
<div class="alert alert-info" style="width:400px;" ng-show="signupsuccess">
    User  registered successfully
</div>

<div class="control-group">
    <form class="form-horizontal" ng-submit="signUpUser(user)">


        <div class="control-group">
            <label class="control-label" for="firstName">First Name</label>
            <div class="controls">
                <input type="text" id="firstName" ng-model="user.firstName" placeholder="First Name" required="required">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="lastName">Last Name</label>
            <div class="controls">
                <input type="text" id="lastName" ng-model="user.lastName" placeholder="Last Name" required="required">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="userName">UserName</label>
            <div class="controls">
                <input type="text" id="userName" ng-model="user.userName" placeholder="User Name"  required="required" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input type="text" id="email" ng-model="user.email" placeholder="me@example.com" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" id="password" ng-model="user.password" placeholder="Password" required />
            </div>
        </div>



        <div class="control-group">
            <div class="controls">

                <button class="btn btn-primary" type="submit" >Sign Up</button>
            </div>
        </div>

    </form>
</div>



<div>
    <h4>Already registered ? <a href="#/login">Click here.. </a>to login</h4>
</div>
